.avatar-banner-wrapper {
    max-width: 992px;
    margin: auto;
    margin: 0 0 5px 0;

    .avatar-banner-image {
        width: 100%;
        min-height: 40px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
