.filterwrapper{
    width: 100%;
    max-width: 1344px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.filter-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-li{
    background: #5e1220;
    margin: 10px;
    color: white;
    font-size: 12px;
    padding: 11px;
}