.footer{
    display: flex;
    
    background-color: #5e1220;
    color: #fff; 
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .7rem 0 2rem 0;
    section{
        
        padding: 16px;
        font-size: .9rem;
        
        flex-grow: 1;
        h1{
            font-size: .9rem;
            padding: 1rem 0;
            margin-bottom: 15px;
        }
       
        li{
            font-size: .7rem;
            }
    .sns-icons{
        display: flex;
        justify-content: space-between;
        li{
            font-size: 2.8rem;

        }
    }
        }
        hr{
            color: #EBEBEB;
            border-top: 1px;
        }
        .footer-links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
        div{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 130px;
            font-size: .6rem;
        }
}
.second-footer{
display: flex;
justify-content: center;

}