.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #5e1220;
    color: #fff; 
    left: 0;
    bottom: 0;
    width: 100%;
    section{
        margin: 20px;
        padding: 16px;
        font-size: .9rem;
        h1{
            font-size: .9rem;
            margin: 15px;
        }
       
        li{
            margin: 10px;
            }
    .sns-icons{
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
    }
        }
}
.second-footer{
display: flex;
justify-content: center;

}