.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #5e1220;
    color: #fff;
    padding: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    section{
        margin: 20px;
        padding: 16px;
        font-size: .9rem;
        h1{
            font-size: .9rem;
        }
        li{
            margin: 10px;
            }
    .sns-icons{
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
    }
        }
}