.gillar-wrapper {
    margin: 35px;
    width: 1012px;
    display: flex;
    flex-direction: column;

    p {
        font-family: "Apercu", Arial, sans-serif;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: #000000;
        margin-left: 10 px;
        padding: 0;
    }

    .gillar-produkt-container {
        display: block;
        float: left;
        div {
            display: block;
            float: left;
            width: 148px;
            margin: 0 10.3px;
            a {
                img {
                    width: 148px;
                    
                }
            }
        }
        
    }
}