.har-wrapper {
    display: flex;
    flex-direction: row;
    
    .har-card {
       
        a {
            img {
                width: 992px;
                height: 351px;
            }
        }

    }
}

.jul-wrapper {
    margin: 30px;
    position: relative;
    .row-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
       
    }
    .jul-card {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin: 10px;
        position: relative;

        .btn-top-left{
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 40px;
            border-radius: 0%;
            font-family: "Apercu", Arial, sans-serif;
            letter-spacing: 0.7px;
        }

        .btn-top-right {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 40px;
            border-radius: 0%;
            font-family: "Apercu", Arial, sans-serif;
            letter-spacing: 0.7px;
        }

        .btn-bot-left {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 40px;
            border-radius: 0%;
            font-family: "Apercu", Arial, sans-serif;
            letter-spacing: 0.7px;
        }

        a {
            img {
                width: 486px;
                height: 242px;
            }
        }
    }
}




