.har-wrapper {
    display: flex;
    flex-direction: row;
    
    .har-card {
       
        a {
            img {
                width: 992px;
                height: 351px;
            }
        }

    }
}

.jul-wrapper {
    margin: 40px;
    .row-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
       
    }
    .jul-card {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;

        margin: 10px;
        a {
            img {
                width: 484px;
                height: 242px;
            }
        }
    }
}




