.just-wrapper, .missa-wrapper{
    max-width: 992px;
    margin: auto;
    width: 100%;
}
.just-title, .missa-title {
    position: relative;
    display: grid;
    place-items: center;
    height: 4rem;
    text-align: center;

    h1 {
        z-index: 1;
        padding: 0 1rem;
        color: rgba(0, 0, 0, 0.7);
        background: white;
        font-size: 1.4rem;
        font-weight: 400;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        background: #e1e1e1;
    }
}
.just-annons{
    color: grey;
    font-size: 13.5px;
    margin-bottom: 15px;
    margin-top: 17px;
}
.justrow, .missarow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 992px;
}
.justrow{
    margin-bottom: 37px;
}
.justcard, .missacard{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.justcard a img, .missacard a img{
    width: 314.66px;
    height: 393.33px;
}
.justcard a img, .missacard a img{
    background: white;
}
.justcard-dark{
    width: 314px;
    height: 140px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -103%);
}
.justcard-text{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -210%);
    font-size: 23px;
}
.justcard-text2{
    font-size: 14px;
    font-weight: 400;
    top: 100%;
    left: 50%;
    transform: translate(0%, -15%);
}
.justcard-btn{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: bold;
    background: white;
    padding: 11px 17px;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.justcard-btn:hover{
background: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}

.justcard-bright{
    width: 314px;
    height: 394px;
    background: rgba(255, 255, 255, 0.25);
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50.5%);
    opacity: 0;
    transition: opacity .5s, visibility .1s;
}
.justcard:hover .justcard-bright, .missacard:hover .justcard-bright{
    visibility: visible;
    opacity: 1;
}