.popular-wrapper {
  max-width: 1000px;
  margin: auto;
  width: 100%;

  .pop-title{
    position: relative;
    display: grid;
    place-items: center;
    height: 6rem;
    text-align: center;

    h1 {
        z-index: 1;
        padding: 0 1rem;
        color: rgba(43, 43, 43, 0.9);
        background: white;
        font-size: 24px;//1.6rem
        font-weight: 400;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #e1e1e1;
    }
    }
  .popular-lists {
    display: flex;
    justify-content: center;
  }
  ul {
    padding: 20px;

    li {
      font-size: 0.9rem;
      margin: 10px;
      a {
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
}

// .popular-cards-wrapper{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     width: 100%;
//     position: relative;
//     flex: 1;
//     .popular-cards{
//         margin: 0 5px 0 5px;
//     }
// }

.pop-card-wrapper {

  position: relative;
  display: inline-block;

  .pop-card {
    
    a{
        img{
            height: 240px;  
            margin: 3px;
        }
    }
    .pop-link{
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 50px;
      background-color: black;
      color: white;
      font-family: "Apercu", Arial, sans-serif;
      font-size: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
      
    }
  }
}
